.task-list {
	padding: 15px 20px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 8px;
	overflow: auto;
}

.green button,
.blue button,
.orange button,
.red button {
	border: none;
	padding: 10px 20px;
	border-radius: 8px;
	color: #fff;
	font-family: "Inter", sans-serif !important;
	font-weight: 500;
	font-size: 16px;
	transition: all 0.3s;
}

.green button {
	background: #5ff11a;
}

.green button:hover,
.green button:focus {
	background: #48bc13;
}

.blue button {
	background: #69e7f9;
}

.blue button:hover,
.blue button:focus {
	background: #52b4c4;
}

.orange button {
	background: #f2ae47;
}

.orange button:hover,
.orange button:focus {
	background: #b98536;
}

.red button {
	background: #ff1e1e;
}

.red button:hover,
.red button:focus {
	background: #cf1717;
}
