.task-container-titlewrap {
	text-align: center;
	padding: 10px 0;
	border-radius: 8px 8px 0 0;
}

.task-container-titlewrap h2 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18px;
}

.green {
	background: var(--dark-green);
}

.blue {
	background: var(--dark-blue);
}

.orange {
	background: var(--dark-orange);
}

.red {
	background: var(--dark-red);
}
