.task-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.task-form-title {
	margin-bottom: 16px;
	text-transform: uppercase;
	font-weight: 900;
}

.task-form-error {
	color: #ff1e1e;
	margin-bottom: 16px;
}

.task-form-submit {
	font-size: 18px;
	border: 1px solid #000;
	border-radius: 4px;
	margin-top: 16px;
	padding: 10px 15px;
	background: rgba(0, 0, 0, 0);
	transition: all 0.3s;
}

.task-form-submit:hover,
.task-form-submit:focus {
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
}
