.task-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.task-form-title {
	margin-bottom: 16px;
	text-transform: uppercase;
	font-weight: 900;
}

.task-form-error {
	color: #ff1e1e;
	margin-bottom: 16px;
}

.task-form-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 16px;
}

.task-form-submit {
	font-size: 18px;
	border-radius: 4px;
	padding: 10px 15px;
	background: #5ff11a;
	border: none;
	color: #fff;
	transition: all 0.3s;
}

.task-form-submit:hover,
.task-form-submit:focus {
	background: #48bc13;
}

.task-form-delete {
	background: #ff1e1e;
	color: #fff;
	border: none;
	font-size: 18px;
	padding: 10px 15px;
	border-radius: 4px;
	transition: all 0.3s;
}

.task-form-delete:hover,
.task-form-delete:focus {
	background: #cf1717;
}
