.task-container {
	border-radius: 8px;
	overflow: auto;
	width: 100%;
	aspect-ratio: 1.25;
}

.green {
	background: var(--green);
}

.blue {
	background: var(--blue);
}

.orange {
	background: var(--orange);
}

.red {
	background: var(--red);
}

@media screen and (min-width: 992px) {
	.task-container {
		aspect-ratio: unset;
	}

	.green {
		grid-column: 2/7;
		grid-row: 2/7;
	}

	.blue {
		grid-column: 7/12;
		grid-row: 2/7;
	}

	.orange {
		grid-column: 2/7;
		grid-row: 7/12;
	}

	.red {
		grid-column: 7/12;
		grid-row: 7/12;
	}
}
