.task-list {
	padding: 15px 20px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 8px;
	overflow: auto;
}

.green button,
.blue button,
.orange button,
.red button {
	border: none;
	padding: 10px 20px;
	border-radius: 8px;
	color: #fff;
	font-family: "Inter", sans-serif !important;
	font-weight: 500;
	font-size: 16px;
	text-align: left;
	transition: all 0.3s;
}

.green button {
	background: var(--dark-green);
}

.green button:hover,
.green button:focus {
	background: var(--darkest-green);
}

.blue button {
	background: var(--dark-blue);
}

.blue button:hover,
.blue button:focus {
	background: var(--darkest-blue);
}

.orange button {
	background: var(--dark-orange);
}

.orange button:hover,
.orange button:focus {
	background: var(--darkest-orange);
}

.red button {
	background: var(--dark-red);
}

.red button:hover,
.red button:focus {
	background: var(--darkest-red);
}
