.task-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.task-form-title {
	margin-bottom: 16px;
	text-transform: uppercase;
	font-weight: 900;
}

.task-form-error {
	color: var(--red);
	margin-bottom: 16px;
}

.task-form-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 16px;
}

.task-form-submit,
.task-form-delete {
	color: #fff;
	font-size: 18px;
	font-weight: 900;
	border: none;
	border-radius: 4px;
	transition: all 0.3s;
	padding: 10px 15px;
}

.task-form-submit {
	background: var(--dark-green);
}

.task-form-submit:hover,
.task-form-submit:focus {
	background: var(--darkest-green);
}

.task-form-delete {
	background: var(--dark-red);
}

.task-form-delete:hover,
.task-form-delete:focus {
	background: var(--darkest-red);
}
